@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

@keyframes moving_gradients {
    0% {
        background-position: 0%;
    }
    25% {
        background-position: 100%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .main {
        width: 100%;
        max-width: 922px;
        $content-height: 90vh;
        $credits-height: 100vh-$content-height;
        .content {
            width: 100%;
            height: $content-height;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .animation {
                position: absolute;
                height: $content-height;
                #ltp {
                    width: 100%;
                }
            }
            .wish {
                margin: 0 5px;
                text-align: center;
                font-size: 1.2rem;
                letter-spacing: 2px;
                .text {
                    color: rgba(98, 117, 151, 0.8);
                    margin-bottom: 5px;
                }
                #hpbd {
                    background-image: linear-gradient(75deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737);
                    -webkit-background-clip: text;
                    background-size: 1.618*100%;
                    background-position: 0%;
                    color: transparent;
                    animation: moving_gradients 4s infinite;
                }
            }
        }
        .credits {
            display: flex;
            height: $credits-height;
            text-align: center;
            font-size: 0.8rem;
            align-items: center;
            justify-content: space-around;
            .text {
                color: rgba(98, 117, 151, 0.6);
                .link {
                    text-decoration: none;
                    background-image: linear-gradient(75deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737);
                    -webkit-background-clip: text;
                    background-size: 1.618*100%;
                    background-position: 0%;
                    color: transparent;
                    animation: moving_gradients 4s infinite;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .cprt {
                    font-size: 0.6rem;
                    margin-top: 2px;
                }
            }
        }
    }
}